.flow-ui-node,
.flow-ui-node__content-wrap,
.flow-ui-node__content,
.flow-ui-branch-node__content,
.flow-ui-loop-node__content {
    display: flex;
    align-items: center;
    position: relative;
}

.flow-ui-loop-node__content {
    z-index: 5;
}

.flow-ui-node__content-wrap,
.flow-ui-node__content {
    cursor: pointer;
}

.flow-ui-branch-node {
    &__add-button {
        position: absolute;
        cursor: pointer;
        z-index: 1;

        .flow-ui-drop-button {
            width: 20px;
            height: 20px;
        }
    }

    .branch-add-disabled {
        position: absolute;
    }

    &__conditions {
        display: flex;
    }

    &__dashed,
    &__sorting__dashed {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__sorting__dashed {
        display: none;
    }
}

.flow-ui-vertical {
    margin: 0 auto;
    flex-direction: column;

    .flow-ui-node,
    .flow-ui-node__content-wrap,
    .flow-ui-node__content,
    .flow-ui-branch-node__content,
    .flow-ui-loop-node__content {
        flex-direction: column;
    }

    .flow-ui-start-node {
        padding-top: 16px;
    }

    .flow-ui-end-node {
        padding-bottom: 16px;
    }

    .flow-ui-branch-node {
        .flow-ui-branch-node__content {
            margin-top: 10px;
        }

        &__add-button {
            top: -10px;
        }

        &__conditions {
            flex-direction: row;
        }
    }
}

.flow-ui-horizontal {
    margin: auto 0;
    flex-direction: row;

    .flow-ui-node,
    .flow-ui-node__content-wrap,
    .flow-ui-node__content,
    .flow-ui-branch-node__content {
        flex-direction: row;
    }

    .flow-ui-start-node {
        padding-left: 16px;
    }

    .flow-ui-end-node {
        padding-right: 16px;
    }

    .flow-ui-branch-node {
        .flow-ui-branch-node__content {
            margin-left: 10px;
        }

        &__add-button {
            left: -10px;
        }

        &__conditions {
            flex-direction: column;
        }
    }
}

.flow-ui-sortable-handle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    cursor: move;
    opacity: 0;
    position: absolute;
}